{% block body%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/custom/buy.css' %}" />
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="title">BILLBOARD</div>
            <form action="/customer/save" method="POST" enctype="multipart/form-data">
                {% csrf_token %}              
                <div class="input-form">
                    <div class="section-1">
                        <div class="items">
                            <label for="firstname">First name</label>
                            <input type="text" class="input" id="firstname" name="firstname" placeholder="" value="{{ data.firstname }}"
                                required>
                        </div>
                        <div class="items">
                            <label for="lastname">Last name</label>
                            <input type="text" class="input" id="lastname" name="lastname" placeholder="" value="{{ data.lastname }}"
                                required>
                        </div>
                        <div class="items">
                            <label for="username">Username</label>
                            <input type="text" class="input" name="username" id="username" placeholder="Username" value="{{ data.username }}"
                                required>
                        </div>
                        <div class="items">
                            <label for="email">Email</label>
                            <input type="email" class="input" id="email" name="email" placeholder="enter your email" value="{{ email }}">
                        </div>
                        <div class="items">
                            <label for="mobile">Mobile</label>
                            <input type="" class="input" id="mobile" name="mobile" value="{{ data.mobile }}"
                                placeholder="enter your mobile number">
                        </div>
                        <div class="items">
                            <label for="address">Address</label>
                            <input type="text" class="input" id="address" name="address" value="{{ address }}"
                                placeholder="enter your location">
                        </div>
                        <div class="items">
                            <label for="zipcode">Zip Code</label>
                            <input type="text" class="input" name="zipcode" id="zip" value="{{ data.zipcode }}" placeholder="" required>
                        </div>
                        <hr class="items">
                        <button class="btn btn-primary btn-lg btn-block" type="submit"><b>Buy</b></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="{% static 'js/custom/buy.js' %}"></script>
</html>
{%endblock%}