{% block body%}
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">BILLBOARD</h4>
            <div class="needs-validation" novalidate>
                <div class="row">
                    <form method="POST" action="/" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="col-md-6 mb-3">
                            <label for="firstname">First name</label>
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="" value="" required>

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastname">Last name</label>
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="" value="" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="username">Username</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>  
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email">Email <span class="text-muted"></span></label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="enter your email">
                    </div>

                    <div class="mb-3">
                        <label for="mobile">Mobile<span class="text-muted"></span></label>
                        <input type="number" class="form-control" id="mobile" name="mobile" placeholder="enter your mobile number">
                    </div>

                    <div class="mb-3">
                        <label for="address">Address <span class="text-muted"></span></label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="enter your location">
                    </div>

                    <div class="row">
                        
                        <div class="col-md-3 mb-3">
                            <label for="zipcode">Zip Code</label>
                            <input type="text" class="form-control" name="zipcode" id="zip" placeholder="" required>
                            
                        </div>
                    </div>

                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit"><b>checkout</b></button>
                    </form>
            </div>
        </div>
    </div>


{%endblock%}