{% extends "dash_layout.html" %}

{% block content %}
<!-- single product dettails -->
<div class="small-containers single-product">
    <div class="row2">
        <div class="colu-2">
            <img src="{% static 'images/menu/briyani.jpg'%}" width="100%" id="productImg">
        </div>
        <div class="colu-2">
            <h1>Kattiroll</h1>
            <b>
                <h3>Rs. 250</h3>
            </b>
            <!-- <a href="" class="btn"> Add to cart</a> -->
            <a href="" class="btn"> Buy</a>
        </div>
    </div>
</div>
{% endblock content %}