<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>login</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/custom/o_log.css' %}" />
</head>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form" method="POST" action="">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username"/>
        <input type="password" name="userpassword" placeholder="password"/>
        <button>login</button>
      </form>
    </div>
  </div>
</body>
<script src="{% static 'js/custom/o_log.js' %}"></script>
</html>

<!-- <form class="register-form" method="POST" action="">
        
  <input type="text" placeholder="name"/>
  <input type="password" placeholder="password"/>
  <input type="text" placeholder="email address"/>
  <button>create</button>
  <p class="message">Already registered? <a href="#">Sign In</a></p>
</form> -->